body {
    color: white;
    background-color: black;
}

input {
    width: 300px;
    height: 30px;
}

input:focus {outline:none;} 

.btn{
    cursor: pointer;
}

button{
    background-color: rgba( 255, 255, 255, 0 );
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

ol,ul
{
    list-style-type: none;
    text-align: left;
}

.clicked{
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing{
    display: block;
}

.js-clock{
    font-size: 40px;
    margin-top: 300px;
    margin-left: 1000px;
}

.js-greetings{
    margin-top: 35px;
    margin-left: 1115px;
    font-size: 25px;
}

.js-toDoForm{
    margin-left: 1000px;
    margin-top: 40px;
    font-size: 30px;
}

.js-todo-list{
    margin-left: 980px;
    margin-top: 20px;
    font-size: 30px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    right: 10%;
    width: 80%;
    height: 100%; 
    z-index: -1;
    animation: fadeIn 2s linear;
    animation-iteration-count : infinite;
}


/* 반응형 */
@media screen and (max-width: 768px) { 
    .bgImage
    {
        width: 768px;
    }
}
