body {
    color: white;
    background-color: black;
}

.btn{
    cursor: pointer;
}

.clicked{
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing{
    display: block;
}

.js-clock{
    position: absolute;
    font-size: 40px;
    right: 38%;
    top: 20%;
}

.js-greetings{
    position: absolute;
    right:46.5%;
    top: 45%;
}

.js-toDoForm{
    position: absolute;
    right: 42.5%;
    top: 55%;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    right: 10%;
    width: 80%;
    height: 100%; 
    z-index: -1;
    animation: fadeIn 2s linear;
    animation-iteration-count : infinite;
}
